recipe: default.v1
language: en

pipeline:
- name: WhitespaceTokenizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 3
  max_ngram: 17
- name: DIETClassifier
  epochs: 1
- name: EntitySynonymMapper

policies:
- name: RulePolicy
assistant_id: 20251211-223610-associative-advance
